body {
    margin: 20px auto;
    max-width: 1000px;
    padding: 0 20px;
    }
    
textarea, input, select, td, p, ul, li {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #222;
}

h1, h2, h3 { font-family: "Lucida Grande", Tahoma, Verdana, sans-serif; }
h1 { font-size: 1.6em;}
h2 { font-size: 1.3em;}

td { padding: 0.5ex 1ex; }
tr.thead td { font-weight: bold; }
    
blockquote {
    color: #666;
    padding-left: 1em;
    border-left: 3px solid #eee;
    }

.ui-tabs .ui-tabs-nav {
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
}
.ui-tabs .ui-tabs-nav li {
    position: relative;
    float: left;
    margin: 0 3px -2px 0;
    padding: 0;
}
.ui-tabs .ui-tabs-nav li a {
    display: block;
    padding: 3px 5px;
    background: #f0f0f0;
    border: 1px #ccc solid;
    border-bottom-color: #ccc;
    outline: none;
    text-decoration: none;
    color: #00f;
}
.ui-tab .ui-tabs-nav li.ui-state-default a {
    color: #00f;
    text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-state-active a {
    padding: 4px 5px;
    background: #fff;
    border-bottom-style: none;
    text-decoration: none;
    color: #000;
}

.ui-tabs .ui-tabs-panel {
    display: block;
    clear: both;
    border: 1px #ccc solid;
    padding: 5px 10px;
}

.ui-tabs .ui-tabs-hide {
    display: none;
}

.form ul {
    margin-left: 0;
    padding-left: 5px;
}

.form ul li {
    margin-left: 0;
    list-style-type: none;
    padding: 4px 4px 4px 0;
}

.form ul li input {
    padding: 1px 3px;
}

.board-thumbnail {
    float: left;
    margin: 5px 10px 5px 5px;
    border: 1px solid #ddd;
    padding: 5px 10px;
}

.board-thumbnail ul { padding-left: 0px; margin-left: 0px;}
.board-thumbnail ul li { list-style-type: none; padding-bottom: 9px;}