<html>
    <head>
        <title>$window_title</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        $javascript_headers
    </head>
    <body>
        <h1>$page_title</h1>
        <div class="content">
            $content
        </div>
    </body>
</html>