{% extends 'base.html' %}
{% block user_box %}
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}

    <p>Hello! This site is designed to keep track of your performance in crossword games like SCRABBLE (TM).</p>

    <p class='centre'><a href='{{ signin_url }}' class='zocial google'>Sign in</a></p>

    <h2>Privacy</h2>

    <p>Signing in with above methods shares only limited information with me:</p>

    <ul>
        <li>Google: your email address</li>
    </ul>

    <p>I won't make this information available to anyone other than me, and it is used only as a way to authenticate you.</p>

    <p>If you have any questions or comments, don't hesitate to let me know at <a href='mailto:nietky2@gmail.com'>nietky2@gmail.com</a>.</p>

{% endblock %}