body {
    font-family: sans-serif, serif;
    font-size: 0.8em;
    
    line-height: 1.6em;
    margin: 1em 2em;
    color: #222;
    }
    
td {
    font-size: 0.8em;
    padding: 0.5ex 1ex;
    }
    
table.board {
    border: 2px solid black;
    }
    
table.data {
    background: #eee;
    }
    
tr.thead td {
    font-weight: bold;
    }
    
blockquote {
    color: #666;
    padding-left: 1em;
    border-left: 3px solid #eee;
    }