body {
    font-family: sans-serif, serif;
    font-size: 0.8em;
    
    line-height: 1.6em;
    margin: 1em 2em;
    color: #222;
    }
    
    
table#board {
    border: 2px solid black;
    }
    
blockquote {
    color: #666;
    padding-left: 1em;
    border-left: 3px solid #eee;
    }